<footer id="footer" class="dark" style="background: url('/images/footer-bg.jpg') repeat; background-size: cover;">
    <div class="container">
        <!-- Footer Widgets
				============================================= -->
        <div class="footer-widgets-wrap clearfix">
            <div class="col_one_third">

                <div class="widget clearfix">

                    <p>We Listen To Your <strong>Needs</strong> To Build Your
                        <strong>Dream</strong></p>

                    <div class="line" style="margin: 30px 0;"></div>

                    <div class="row">

                        <div class="col-lg-6 col-6 bottommargin-sm widget_links">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/services">Services</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-6 bottommargin-sm widget_links">
                            <ul>
                                <li><a href="/projects">Projects</a></li>
                                <li><a href="/estimate">Get an Estimate</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col_one_third">

                <div class="widget clear-bottommargin-sm clearfix">

                    <div class="row">

                        <div class="col-lg-12 bottommargin-sm">
                            <div class="footer-big-contacts">
                                <span>Call Us:</span> +1(415) 969-6915
                            </div>
                        </div>

                        <div class="col-lg-12 bottommargin-sm">
                            <div class="footer-big-contacts">
                                <span>Send an Email:</span> info@currentcon.com
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col_one_third col_last">

                <div class="widget clear-bottommargin-sm clearfix">

                    <div class="row">

                        <div class="col-lg-12 bottommargin-sm">
                            <div class="footer-big-contacts">
                                <span>We're Open:</span> Mon - Fri, 9AM - 5PM
                            </div>
                        </div>

                        <div class="col-lg-12 bottommargin-sm">
                            <div class="footer-big-contacts">
                                <span>Find Us:</span> San Francisco, CA 94104
                            </div>
                        </div>

                    </div>

                </div>

                <div class="widget subscribe-widget clearfix">
                    <div class="row">
                        <div class="col-lg-6 clearfix bottommargin-sm">
                            <a href="https://www.facebook.com/currentcon/" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;" target="_blank">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
                            <a href="https://www.facebook.com/currentcon/" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
                        </div>
                        <div class="col-lg-6 clearfix bottommargin-sm">
                            <a href="https://www.yelp.com/biz/current-construction-san-francisco" class="social-icon si-dark si-colored si-yelp nobottommargin" style="margin-right: 10px;" target="_blank">
										<i class="icon-yelp"></i>
										<i class="icon-yelp"></i>
									</a>
                            <a href="https://www.yelp.com/biz/current-construction-san-francisco" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Rate us</strong><br>on Yelp</small></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 clearfix bottommargin-sm">
                            <a href="https://www.houzz.com/pro/info21693/current-construction" class="social-icon si-dark si-colored si-houzz nobottommargin" style="margin-right: 10px;" target="_blank">
										<i class="icon-globe"></i>
										<i class="icon-globe"></i>
									</a>
                            <a href="https://www.houzz.com/pro/info21693/current-construction" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Find us</strong><br>on Houzz</small></a>
                        </div>
                        <div class="col-lg-6 clearfix bottommargin-sm">
                            <a href="https://www.bbb.org/greater-san-francisco/business-reviews/building-contractors/current-construction-in-san-francisco-ca-530682" class="social-icon si-dark si-colored si-bbb nobottommargin" style="margin-right: 10px;" target="_blank">
										<i class="icon-wrench"></i>
										<i class="icon-wrench"></i>
									</a>
                            <a href="https://www.bbb.org/greater-san-francisco/business-reviews/building-contractors/current-construction-in-san-francisco-ca-530682" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Visit us</strong><br>on BBB</small></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Copyrights
			============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2018 All Rights Reserved by Current Construction Inc.<br>
            </div>

            <div class="col_half col_last tright">
                <div class="copyrights-menu copyright-links clearfix">
                    <a href="/">Home</a>/<a href="/about">About Us</a>/<a href="/services">Services</a>/
                    <a href="/projects">Projects</a>/<a href="/estimate">Get an Estimate</a>/
                    <a href="/contact">Contact</a>
                </div>
            </div>

        </div>

    </div>
    <!-- #copyrights end -->
</footer>
