<header id="header">
    <div class="container clearfix">
        <div id="logo">
          <a href="/" class="standard-logo"><img src="<%=assets%>/logo.png" alt="Current Construction Logo"></a>
          <a href="/" class="retina-logo"><img src="<%=assets%>/logo.png" alt="Current Construction Logo"></a>
        </div>
        <ul class="header-extras">
            <li>
                <i class="i-plain icon-call nomargin"></i>
                <div class="he-text">
                    Call Us
                    <span>+1(415) 969-6915</span>
                </div>
            </li>
            <li>
                <i class="i-plain icon-line2-envelope nomargin"></i>
                <div class="he-text">
                    Email Us
                    <span>info@currentcon.com</span>
                </div>
            </li>
            <li>
                <i class="i-plain icon-line-clock nomargin"></i>
                <div class="he-text">
                    We're Open
                    <span>Mon - Fri, 9AM to 5PM</span>
                </div>
            </li>
        </ul>
    </div>
</header>
