<% include analytics.ejs %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">

<title>Current Construction |
    <%=pageTitle %>
</title>

<meta name="author" content="Shane Barry">
<meta name="description" content="Current Construction website">
<meta name="keywords" content="Construction,Commercial,Residential,Labor,Tools,Projects">
<meta name="msapplication-config" content="/browserconfig.xml">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700"
    type="text/css">
<% css.forEach(function(src){ %>
<link rel="stylesheet" href="<%=src  %>" type="text/css">
<% }) %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="https://malsup.github.com/jquery.form.js"></script>
