<div class="style-msg successmsg">
    <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>Success!</strong> Your message has been sent.</div>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
