<ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">
    <li class="activeFilter"><a href="#" data-filter="*">All Projects</a></li>
    <li><a href="#" data-filter=".project-commercial">Commercial</a></li>
    <li><a href="#" data-filter=".project-residential">Residential</a></li>
    <li><a href="#" data-filter=".project-structural">Structural</a></li>
    <li><a href="#" data-filter=".project-multi-unit">Multi-Unit</a></li>
    <li><a href="#" data-filter=".project-other">Other</a></li>
</ul>
