<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix"
    style="height: 550px;" data-loop="true">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide dark" style="background-image: url('/images/slider/swiper/1.jpg');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h2 data-caption-animate="fadeInUp">Remodel</h2>
                    </div>
                </div>
            </div>
            <div class="swiper-slide dark" style="background-image: url('/images/slider/swiper/2.jpg');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h2 data-caption-animate="fadeInUp">Retrofit</h2>
                    </div>
                </div>
            </div>
            <div class="swiper-slide dark" style="background-image: url('/images/slider/swiper/3.jpg');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h2 data-caption-animate="fadeInUp">Redefine</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>
</section>
