<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix"
    style="height: 550px;" data-loop="true">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide dark" style="background-image: url('<%=assets%>/remodel.jpg');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h2 data-caption-animate="fadeInUp">General Contractors</h2>
                        <div data-caption-animate="fadeInUp" class="center margin-top-20">
                            <a href="/estimate" data-animate="tada" class="button button-3d button-green button-xlarge nobottommargin">Get an estimate</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide dark" style="background-image: url('<%=assets%>/redefine.jpg');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h2 data-caption-animate="fadeInUp">General Contractors</h2>
                        <div data-caption-animate="fadeInUp" class="center margin-top-20">
                            <a href="/estimate" data-animate="tada" class="button button-3d button-amber button-xlarge nobottommargin">Get an estimate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>
</section>
