<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix"
    style="height: 550px;" data-loop="true">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide dark" style="background-image: url('<%=assets%>/remodel.jpg');"
                title="Residential building general contractor san francisco">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h1 data-caption-animate="fadeInUp">General Contractor San Francisco</h1>
                        <div data-caption-animate="fadeInUp" class="center margin-top-20">
                            <a href="/estimate" class="button button-3d button-green button-xlarge">Get an estimate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
