<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stretched">
    <div id="wrapper" class="clearfix">
        <% include ../components/core/top-bar %>
            <% include ../partials/header %>
                <% include ../components/core/title %>
                    <section id="content">
                        <div class="content-wrap">
                            <div class="container clearfix">
                                <div class="row clearfix bottommargin topmargin-sm">
                                    <div class="col-lg-6">
                                        <div class="heading-block nobottomborder bottommargin-sm">
                                            <h3>Welcome to Current Construction</h3>
                                            <span>We are a San Francisco-based licensed, bonded and full service general residential and commercial contractor.</span>
                                        </div>
                                        <p>
                                            We are a hands-on firm where every project we’re assigned receives the personal
                                            oversight and management of our experienced
                                            co-founders David Breslin and Colm
                                            Higgins. We apply a process-based approach
                                            of sharing expert construction knowledge
                                            and advice with our clients before
                                            coming together to build their project.
                                            David and Colm pay fastidious attention
                                            to budget, time restraints, permitting,
                                            client taste, quality materials, finishing
                                            details and more.
                                        </p>
                                        <a href="/services" class="button button-3d noleftmargin bottommargin-sm">Learn More</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="./../images/team1000x667.jpg" alt="team image">
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="fancy-title title-border">
                                    <h3>Our Team</h3>
                                </div>
                                <div class="row topmargin">
                                    <div class="col-lg-6 bottommargin">
                                        <div class="team team-list clearfix">
                                            <div class="team-image">
                                                <img src="../images/davidbreslin280x391.jpg" alt="David Breslin" width="250px"
                                                    height="320px">
                                            </div>
                                            <div class="team-desc">
                                                <div class="team-title">
                                                    <h4>David Breslin</h4><span>Partner & Founder</span></div>
                                                <div class="team-content">
                                                    <p>As a founder of Current Construction,
                                                        David understands the importance
                                                        of developing successful,
                                                        long-term, working relationships
                                                        with clients, design teams
                                                        and the many subcontractors
                                                        and vendors that play an
                                                        integral role in construction
                                                        projects here in the Bay
                                                        Area. David brings over
                                                        15 years of project and
                                                        construction management
                                                        experience to bear for
                                                        every project Current Construction
                                                        undertakes.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 bottommargin">
                                        <div class="team team-list clearfix">
                                            <div class="team-image">
                                                <img src="../images/colmhiggins193x248.jpg" alt="Colm Higgins" width="250px" height="320px">
                                            </div>
                                            <div class="team-desc">
                                                <div class="team-title">
                                                    <h4>Colm Higgins</h4><span>Partner & Founder</span></div>
                                                <div class="team-content">
                                                    <p>Colm Higgins co-founded Current
                                                        Construction with his business
                                                        partner David Breslin in
                                                        2011 when he relocated
                                                        to the San Francisco Bay
                                                        Area from New York. Inspired
                                                        by a true passion for the
                                                        building industry, Colm
                                                        believes that a person’s
                                                        happiness and quality of
                                                        life are greatly influenced
                                                        by the combination of safety,
                                                        practicality and beauty
                                                        – whether its the workspace
                                                        or one’s home.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row topmargin">
                                    <div class="col-lg-6 bottommargin">
                                        <div class="team team-list clearfix">
                                            <div class="team-image">
                                                <img src="../images/jonathonocorner193x248.jpg" alt="Johnathon O Connor" width="250px"
                                                    height="320px">
                                            </div>
                                            <div class="team-desc">
                                                <div class="team-title">
                                                    <h4>Jonathon O'Connor</h4><span>Project Manager</span></div>
                                                <div class="team-content">
                                                    <p>Jonathan joined Current Construction
                                                        in early 2016. A recent
                                                        construction management
                                                        graduate from Ireland,
                                                        Jonathan is well versed
                                                        in modern construction
                                                        technologies and software.
                                                        These skills, along with
                                                        his enthusiasm for his
                                                        work and forward thinking,
                                                        make Jonathan an invaluable
                                                        member of the Current Construction
                                                        team.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 bottommargin">
                                        <div class="team team-list clearfix">
                                            <div class="team-image">
                                                <img src="../images/monica.jpg" alt="Monica" width="250px" height="320px">
                                            </div>
                                            <div class="team-desc">
                                                <div class="team-title">
                                                    <h4>Monica Rodriguez</h4><span>Office Manager</span></div>
                                                <div class="team-content">
                                                    <p>Monica has been working behind
                                                        the scenes at Current Construction
                                                        since 2016. She plays a
                                                        crucial role in administration,
                                                        finances and everything
                                                        else involved in running
                                                        an efficient GC office.
                                                        She has an extensive background
                                                        in book keeping and accounts
                                                        as well as human resource
                                                        management and communications.
                                                        Monica contributes immensely
                                                        to our overall service,
                                                        providing clients with
                                                        a streamlined, easy to
                                                        track follow administrative
                                                        service and reliable, real
                                                        time support for clients.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row topmargin">
                                    <div class="col-lg-6 bottommargin">
                                        <div class="team team-list clearfix">
                                            <div class="team-image">
                                                <img src="../images/cesar.jpg" alt="Cesar Gomez" width="250px"
                                                    height="320px">
                                            </div>
                                            <div class="team-desc">
                                                <div class="team-title">
                                                    <h4>Cesar Gomez</h4><span>Lead Carpenter and Foreman</span></div>
                                                <div class="team-content">
                                                    <p>Cesar is a talented craftsman
                                                        with over a decade of experience
                                                        working on construction
                                                        projects throughout the
                                                        Bay area. A highly talented
                                                        finish carpenter able to
                                                        implement the finest millwork
                                                        he has a gifted eye for
                                                        detail. In addition Cesar
                                                        has a diverse skill set
                                                        and has overseen many major
                                                        structural upgrades and
                                                        framing projects too. The
                                                        other main factor to his
                                                        success is his excellent
                                                        communication skills and
                                                        positive mindset which
                                                        is an inspiration to us
                                                        all here at Current Construction
                                                        and to the customers we
                                                        work for.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 bottommargin">
                                        <div class="team team-list clearfix">
                                            <div class="team-image">
                                                <img src="../images/baxter192x248.jpg" alt="Baxter" width="250px" height="320px">
                                            </div>
                                            <div class="team-desc">
                                                <div class="team-title">
                                                    <h4>Baxter</h4><span>Chief Companion & Project Mascot</span></div>
                                                <div class="team-content">
                                                    <p>Baxter is a 7-year old smart,
                                                        loving and loyal Boxer
                                                        who has grown up around
                                                        construction projects.
                                                        His friendly and upbeat
                                                        demeanor helps to keep
                                                        stress at a minimum and
                                                        morale high for the Current
                                                        Construction crews he visits.
                                                        He’s truly quite the project
                                                        supervisor.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <% include ../partials/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>
