<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stretched">
    <div id="wrapper" class="clearfix">
        <% include ../components/core/top-bar-plain %>
            <% include ../partials/header-plain %>
                <% include ../components/core/title %>
                    <section id="content">
                        <div class="content-wrap">
                            <div class="container clearfix">
                                <div class="row">
                                    <div class="postcontent nobottommargin clearfix">
                                        <div class="style-msg alertmsg">
                                            <div class="sb-msg"><i class="icon-warning-sign"></i><strong>Warning!</strong>                                                This page is for Current Construction
                                                website administrators only.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                      <p><a href="https://docs.google.com/spreadsheets/d/1WBsQ_Yq8V3NkbFvRHgYpEiP5W6vKwgLDWIsnwVBt7_E/edit#gid=0" target="_blank">Shane's task list</a></p>
                                      <p><a href="https://docs.google.com/spreadsheets/d/1f18kdnfa7NoDj4kpqwJn6XQ_wBF3LWtuni0stiFbPGg/edit#gid=0" target="_blank">Leads / Sales tracking spreadsheet</a></p>
                                      <p><a href="https://drive.google.com/drive/folders/1sOe65mb5-8vS-4ucfQSEzdQtsuvgD2LB" target="_blank">Reonomy downloads</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <% include ../partials/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>
