<!DOCTYPE html> <!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stretched">
    <div id="wrapper" class="clearfix">
        <% include ../components/core/top-bar %>
            <% include ../partials/header %>
                <% include ../components/core/title %>
                    <section id="content">
                        <div class="content-wrap">
                            <div class="container clearfix">
                                <div class="col_half">
                                    <% include ../components/forms/contact-form %>
                                </div>
                                <div class="col_half col_last">
                                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=37.7749%2C-122.4194&key=AIzaSyB3AM8EJpFit_9T5G2HLMbgQD1sBuKWJ-M"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="clear"></div>
                                <% include ../components/core/contact-info %>
                            </div>
                        </div>
                    </section>
                    <% include ../partials/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>
