<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stretched">
    <div id="wrapper" class="clearfix">
        <% include ../components/core/top-bar %>
            <% include ../partials/header %>
                <% include ../components/core/title %>
                    <section id="content">
                        <div class="content-wrap">
                            <div class="container clearfix bottommargin-lg">
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="javascript:void(0);"><i class="icon-cog i-alt"></i></a>
                                        </div>
                                        <h3>Multi Unit Remodel</h3>
                                        <p>Whether it’s a residential or commercial
                                            project, Current Construction is a
                                            full service company that will work
                                            with you on your entire general remodeling
                                            needs utilizing our professionals in
                                            every field.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="javascript:void(0);"><i class="icon-cogs i-alt"></i></a>
                                        </div>
                                        <h3>Soft Story and Structural Upgrade</h3>
                                        <p>Current Construction is experienced in
                                            foundation bolting, cripple wall bracing,
                                            and seismic retrofitting homes, apartment
                                            buildings and small to medium commercial
                                            structures.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third col_last">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="javascript:void(0);"><i class="icon-wrench i-alt"></i></a>
                                        </div>
                                        <h3>New Home Construction</h3>
                                        <p>Whether you want to build a new residence
                                            or commercial building from the ground
                                            up, or you want to add an addition
                                            to your home or business, you can always
                                            rely on Current Construction for truly
                                            exceptional service.
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="container clearfix bottommargin-lg">
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="javascript:void(0);"><i class="icon-cog i-alt"></i></a>
                                        </div>
                                        <h3>Commercial Remodel</h3>
                                        <p>As a full service firm, Current Construction
                                            can do everything from a complete interior
                                            renovation to changing the exterior
                                            of your property.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="javascript:void(0);"><i class="icon-cogs i-alt"></i></a>
                                        </div>
                                        <h3>Residential Remodel</h3>
                                        <p>Current Construction will plan and build
                                            the best performing remodel, and all
                                            of its individual components, for your
                                            new construction project anywhere in
                                            the Bay Area.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third col_last">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="javascript:void(0);"><i class="icon-wrench i-alt"></i></a>
                                        </div>
                                        <h3>ADU Conversion</h3>
                                        <p>
                                            You can count on the quality of the services you will receive when you work with
                                            Current Construction.
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="d-none d-md-block">
                                <div class="row common-height">
                                    <div class="col-lg-4 dark col-padding ohidden" style="background-color: #1abc9c;">
                                        <div>
                                            <h3 class="uppercase" style="font-weight: 600;">Why choose Us</h3>
                                            <p style="line-height: 1.8; min-height: 100px;">
                                                When we say that we do it all when it comes to construction in the San Francisco
                                                Bay Area we mean it. Call Current
                                                Construction today to learn about
                                                the extensive services we offer.
                                            </p>
                                            <a href="/about" class="button button-border button-light button-rounded button-reveal tright uppercase nomargin"><i class="icon-angle-right"></i><span>Read More</span></a>
                                            <i class="icon-bulb bgicon"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 dark col-padding ohidden" style="background-color: #34495e;">
                                        <div>
                                            <h3 class="uppercase" style="font-weight: 600;">Our Mission</h3>
                                            <p style="line-height: 1.8; min-height: 100px;">
                                                Our mission is to build your dream. Current Construction takes pride in providing
                                                cost efficient management, quick
                                                turnaround service and smart solutions
                                                to our clients. Put us to work
                                                for you today.</p>
                                            <a href="/about" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
                                            <i class="icon-cog bgicon"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 dark col-padding ohidden" style="background-color: #e74c3c;">
                                        <div>
                                            <h3 class="uppercase" style="font-weight: 600;">What you get</h3>
                                            <p style="line-height: 1.8; min-height: 100px;">
                                                We apply a process-based approach of sharing expert construction knowledge and
                                                advice with our clients before
                                                coming together to build their
                                                project.</p>
                                            <a href="/about" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
                                            <i class="icon-thumbs-up bgicon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% include ../components/core/banner-full-2 %>
                        </div>
                    </section>
                    <% include ../partials/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>
