<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stretched service-page commercial-remodel">
    <div id="wrapper" class="clearfix">
        <% include ../components/core/top-bar %>
            <% include ../partials/header %>
                <% include ../components/core/title %>
                    <section id="content">
                        <div class="content-wrap">
                            <div class="container clearfix">
                                <div class="row clearfix bottommargin topmargin-sm">
                                    <div class="col-lg-6">
                                        <div class="heading-block nobottomborder bottommargin-sm">
                                            <h3>COMMERCIAL REMODEL</h3>
                                            <span>We’ve been in the business of investing in and developing properties for over 9 years, so we know how important your property’s architecture and design are to your brand and bottom line.</span>
                                        </div>
                                        <p>
                                            Whether elegant luxury or vintage modern, we will take the time to capture your vision in a way that will maximize your budget and charm your guests.
                                        </p>
                                        <a href="/services" class="button button-3d noleftmargin bottommargin-sm">All services</a>
                                    </div>
                                    <div class="col-lg-6">
                                      <img src="<%=assets%>/7th-1.jpg" alt="Team image general contractor san francisco">
                                    </div>
                                </div>
                                <div class="clear"></div>
																
																<div class="fancy-title title-border">
																	<h3>PORTFOLIO: COMMERCIAL REMODEL</h3>
																</div>

																<div class="row topmargin">
																	<div class="col-3 bottommargin">
																		<a href="/project/7"><img src="<%=assets%>/7th-1.jpg" /></a>
																	</div>
																	<div class="col-3 bottommargin">
																		<a href="/project/8"><img src="<%=assets%>/2630-mission-3.jpg" /></a>
																	</div>
																	<div class="col-3 bottommargin">
																		<a href="/project/9"><img src="<%=assets%>/market-1.jpg" /></a>
																	</div>
																	
																</div> <!-- ./row -->
                            </div>
                        </div>
                    </section>
                    <% include ../partials/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>
