<!DOCTYPE html> <!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stretched">
    <div id="wrapper" class="clearfix">
        <% include ../components/core/top-bar %>
            <% include ../partials/header %>
                <% include ../components/core/title %>
                    <section id="content">
                        <div class="content-wrap">
                            <div class="container clearfix bottommargin-lg">
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-screen i-alt"></i></a>
                                        </div>
                                        <h3>Remodeling</h3>
                                        <p>Whether it’s a residential or commercial
                                            project, Current Construction is a
                                            full service company that will work
                                            with you on your entire general remodeling
                                            needs utilizing our professionals in
                                            every field.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-eye i-alt"></i></a>
                                        </div>
                                        <h3>New Construction</h3>
                                        <p>Whether you want to build a new residence
                                            or commercial building from the ground
                                            up, or you want to add an addition
                                            to your home or business, you can always
                                            rely on Current Construction for truly
                                            exceptional service.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third col_last">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-beaker i-alt"></i></a>
                                        </div>
                                        <h3>Residential Remodeling</h3>
                                        <p>As a full service firm, Current Construction
                                            can do everything from a complete interior
                                            renovation to changing the exterior
                                            of your property.
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="col_one_third nobottommargin">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-stack i-alt"></i></a>
                                        </div>
                                        <h3>Kitchen Remodeling</h3>
                                        <p>Let’s make the kitchen the heart of your
                                            home! Not only does a kitchen remodel
                                            increase the value of your house but
                                            it will also add convenience to your
                                            daily family life.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third nobottommargin">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-tint i-alt"></i></a>
                                        </div>
                                        <h3>Bathroom Remodeling</h3>
                                        <p>Thinking about adding an extra or updating
                                            an existing bathroom? Did you know
                                            that adding or transforming a bathroom
                                            can yield a substantial return on your
                                            investment should you decide to sell
                                            your home?
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third nobottommargin col_last">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-text-width i-alt"></i></a>
                                        </div>
                                        <h3>Commercial Remodeling</h3>
                                        <p>One of the most important services that
                                            Current Construction offers in the
                                            San Francisco Bay Area is commercial
                                            remodeling. We have built our reputation
                                            as the quality commercial remodeling
                                            company to be trusted with jobs of
                                            all sizes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row bottommargin-lg common-height">
                                <div class="col-lg-4 dark col-padding ohidden" style="background-color: #1abc9c;">
                                    <div>
                                        <h3 class="uppercase" style="font-weight: 600;">Why choose Us</h3>
                                        <p style="line-height: 1.8; min-height: 100px;">
                                            When we say that we do it all when it comes to construction in the San Francisco
                                            Bay Area we mean it. Call Current Construction
                                            today to learn about the extensive
                                            services we offer.
                                        </p>
                                        <a href="#" class="button button-border button-light button-rounded button-reveal tright uppercase nomargin"><i class="icon-angle-right"></i><span>Read More</span></a>
                                        <i class="icon-bulb bgicon"></i>
                                    </div>
                                </div>
                                <div class="col-lg-4 dark col-padding ohidden" style="background-color: #34495e;">
                                    <div>
                                        <h3 class="uppercase" style="font-weight: 600;">Our Mission</h3>
                                        <p style="line-height: 1.8; min-height: 100px;">
                                            Our mission is to build your dream. Current Construction takes pride in providing
                                            cost efficient management, quick turnaround
                                            service and smart solutions to our
                                            clients. Put us to work for you today.</p>
                                        <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
                                        <i class="icon-cog bgicon"></i>
                                    </div>
                                </div>
                                <div class="col-lg-4 dark col-padding ohidden" style="background-color: #e74c3c;">
                                    <div>
                                        <h3 class="uppercase" style="font-weight: 600;">What you get</h3>
                                        <p style="line-height: 1.8; min-height: 100px;">
                                            We apply a process-based approach of sharing expert construction knowledge and
                                            advice with our clients before coming
                                            together to build their project.</p>
                                        <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
                                        <i class="icon-thumbs-up bgicon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="container clearfix bottommargin-lg">
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-screen i-alt"></i></a>
                                        </div>
                                        <h3>Framing</h3>
                                        <p>The ‘skeleton’ of a building is its frame,
                                            and the framing of any building must
                                            be carefully thought out and precisely
                                            executed if you want a safe, sturdy
                                            environment in which to live or work.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-eye i-alt"></i></a>
                                        </div>
                                        <h3>Excavation</h3>
                                        <p>Your home or commercial structure requires
                                            the security and structural integrity
                                            of a strong foundation or basement
                                            before construction begins.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third col_last">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-beaker i-alt"></i></a>
                                        </div>
                                        <h3>Seismic Retrofitting</h3>
                                        <p>Current Construction is experienced in
                                            foundation bolting, cripple wall bracing,
                                            and seismic retrofitting homes, apartment
                                            buildings and small to medium commercial
                                            structures.
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="col_one_third nobottommargin">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-stack i-alt"></i></a>
                                        </div>
                                        <h3>Plumbing Services</h3>
                                        <p>Current Construction will plan and install
                                            the best performing plumbing system,
                                            and all of its individual components,
                                            for your new construction project anywhere
                                            in the Bay Area.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third nobottommargin">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-tint i-alt"></i></a>
                                        </div>
                                        <h3>Electrical Services</h3>
                                        <p>
                                            You can count on the quality of the electrical services you will receive when you
                                            work with Current Construction.
                                        </p>
                                    </div>
                                </div>
                                <div class="col_one_third nobottommargin col_last">
                                    <div class="feature-box fbox-rounded fbox-effect">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-text-width i-alt"></i></a>
                                        </div>
                                        <h3>Roofing</h3>
                                        <p>Call on Current Construction if you are
                                            building a new structure, or if your
                                            existing roof is failing to keep you
                                            protected from the elements.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% include ../components/core/banner-full-2 %>
                        </div>
                    </section>
                    <% include ../partials/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>
