<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stretched service-page new-home-construction">
    <div id="wrapper" class="clearfix">
        <% include ../components/core/top-bar %>
            <% include ../partials/header %>
                <% include ../components/core/title %>
                    <section id="content">
                        <div class="content-wrap">
                            <div class="container clearfix">
                                <div class="row clearfix bottommargin topmargin-sm">
                                    <div class="col-lg-6">
                                        <div class="heading-block nobottomborder bottommargin-sm">
                                            <h3>NEW HOME CONSTRUCTION</h3>
                                            <span>Your home is a reflection of your style, personality and character, and at Current Construction, we want to build you a home that is distinctly you.</span>
                                        </div>
                                        <p>
                                            We will work with you to identify your vision and provide guidance through every step of the build, so you can be sure the architecture and design of your home will be completed on time, on budget and with the sophistication you imagine.
                                        </p>
                                        <a href="/services" class="button button-3d noleftmargin bottommargin-sm">All services</a>
                                    </div>
                                    <div class="col-lg-6">
                                      <img src="<%=assets%>/bridgeview-1.jpg" alt="Bridge View">
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </section>
                    <% include ../partials/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>
