<div class="promo promo-light promo-full uppercase bottommargin-lg header-stick">
    <div class="container clearfix">
        <h3 style="letter-spacing: 2px;">Start Planning your next project with us</h3>
        <span>We strive to provide our clients with top notch construction services</span>
        <a href="/contact" class="button button-large button-border button-rounded">Start Now</a>
    </div>
</div>
