<div class="section parallax dark" style="background-image: url('images/slider/1.jpg'); padding: 120px 0;"
    data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
    <div class="fslider testimonial testimonial-full" data-arrows="false" style="z-index: 2;">
        <div class="flexslider">
            <div class="slider-wrap">
                <div class="slide">
                    <div class="testi-image">
                    </div>
                    <div class="testi-content">
                        <p>I highly recommend current construction. Both Colm and
                            David are very responsive and worked well with my architect
                            and engineer.
                        </p>
                        <div class="testi-meta">
                            Shamrock Real Estate
                            <span>San Francisco, CA</span>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="testi-image">
                    </div>
                    <div class="testi-content">
                        <p>As a project management team, Current Construction has
                            always surpassed our expectations. Their ability to
                            foresee any problems long before they arise, and their
                            attention to detail means that we can be sure the project
                            is in good hands.
                        </p>
                        <div class="testi-meta">
                            HCM Properties
                            <span>San Francisco, CA</span>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="testi-image">
                    </div>
                    <div class="testi-content">
                        <p>They did an excellent job and most of all stayed in budget.
                            We will definitely be using these top carpenters for
                            a deck project and kitchen remodel at the end of the
                            summer. Keep it up guys!
                        </p>
                        <div class="testi-meta">
                            Fergal M.
                            <span>San Francisco, CA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-wrap" style="z-index: 1;">
        <div class="video-overlay" style="background: rgba(40,151,193,0.9);"></div>
    </div>
</div>
