<div id="top-bar">
    <div class="container clearfix">
        <div class="col_half nobottommargin">
        </div>
        <div class="col_half fright col_last nobottommargin">
            <div id="top-social">
                <ul>
                    <li><a href="https://www.yelp.com/biz/current-construction-san-francisco" class="si-yelp" target="_blank"><span class="ts-icon"><i class="icon-yelp"></i></span><span class="ts-text">Yelp</span></a></li>
                    <li><a href="https://www.houzz.com/pro/info21693/current-construction" class="si-houzz" target="_blank"><span class="ts-icon"><i class="icon-globe"></i></span><span class="ts-text">Houzz</span></a></li>
                    <li><a href="https://www.bbb.org/greater-san-francisco/business-reviews/building-contractors/current-construction-in-san-francisco-ca-530682" class="si-bbb" target="_blank"><span class="ts-icon"><i class="icon-wrench"></i></span><span class="ts-text">BBB</span></a></li>
                    <li><a href="https://www.facebook.com/currentcon/" class="si-facebook" target="_blank"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                    <li><a href="tel:+1.415.969.6915" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+1(415) 969-6915</span></a></li>
                    <li><a href="mailto:info@currentcon.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@currentcon.com</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
